@import "compass/css3";
$handle-width_height: 10px;
$container-wrap_width: 400px;
$container-wrap_height: 200px;
.container.well {
  margin-top: 150px;
}
.container-wrap {
  width: $container-wrap_width;
  height: $container-wrap_height;
  background: #eee;
  position: relative;
  border: 1px dashed #555;
  &:hover {
    .handle{
      display: block;
      outline: none;
    }
  }
  &:focus {
    outline: none;
  }
  .handle {
    @include opacity(0.7);
    @include border-radius($handle-width_height);
    @include box-sizing(border-box);
    &:hover {
      @include opacity(0.9);
    }
    z-index: 5;
    display: none;
    background: #bbb;
    position: absolute;
    border: 1px solid #999;
    width: $handle-width_height;
    height: $handle-width_height;
  }
  .center-top-drag {
    top: -($handle-width_height / 2);
    left: ($container-wrap_width / 2) + ($handle-width_height / 2);
    cursor: move;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
  #nw {
    top: -($handle-width_height / 2);
    left: -($handle-width_height / 2);
  }
  #ne {
    top: -($handle-width_height / 2);
    right: -($handle-width_height / 2);
  }
  #sw {
    bottom: -($handle-width_height / 2);
    left: -($handle-width_height / 2);
  }
  #se {
    bottom: -($handle-width_height / 2);
    right: -($handle-width_height / 2);
  }
  #n {
    top: -($handle-width_height / 2);
    left: ($container-wrap_width / 2) - ($handle-width_height / 2);
  }
  #s {
    bottom: -($handle-width_height / 2);
    left: ($container-wrap_width / 2);
  }
  #w {
    top: ($container-wrap_height / 2) - ($handle-width_height / 2);
    left: -($handle-width_height / 2);
  }
  #e {
    top: ($container-wrap_height / 2) - ($handle-width_height / 2);
    right: -($handle-width_height / 2);
  }
  .editor {
    width: $container-wrap_width;
    height: $container-wrap_height;
    &:focus {
      outline: none;
    }
  }
}
